body{
	/*background-image: linear-gradient(to right, rgb(165, 165, 165) 0%, rgb(242, 242, 242) 100%);*/
}
.center-text{
	text-align: center;
}
.padding-top-10{
	padding-top: 10px;
}
.user-info{
  /*background: rgba(210, 210, 210, 0.52);*/
  border-radius: 13px;
  /*padding-bottom: 4px;*/
  padding-top: 10px;
}
.map-image{
	width: 100%;
}
